#footer {
	display : block;
	width   : 100%
}

#footer .container {
	width : 100%;
}

#footer .col-lg-4 {
	margin  : 0;
	padding : 15px;
}

#footer .lg {
	background-color : #0092F2;
}

#footer .dg {
	background-color : #0092F2;
}

#footer h4 {
	color : #FFF;
}

#footer p {
	color : #FFF;
}

#footer .ml {
	margin-left : 30px;
}

#footer i {
	font-size     : 70px;
	color         : #FFF;
	text-align    : center;
	margin-top    : 50px;
	margin-bottom : 50px;
}