/* TODO: different header backgrounds on different pages */
body {
	background-color           : #F2F2F2;
	font-size                  : 16px;
	color                      : #555555;
	-webkit-font-smoothing     : antialiased;
	-webkit-overflow-scrolling : touch;
}

#index_logo {
	background              : url('/static/img/about-bg.jpg') no-repeat center top;
	font-family             : 'Roboto', sans-serif;
	text-align              : center;
	min-height              : 750px;
	width                   : 100%;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}

#index_logo h1 {
	margin-top     : 250px;
	color          : #FFFFFF;
	font-size      : 12vw;
	font-weight    : 500;
	letter-spacing : 4px;
}

#index_logo h2 {
	color          : #FFFFFF;
	font-size      : 5vw;
	font-weight    : 100;
	letter-spacing : 2px;
}

#index_logo .spacer {
	margin-top : 120px;
}

#index_about {
	color          : #FFFFFF;
	background     : #0092F2;
	padding-top    : 35px;
	padding-bottom : 35px;
	font-family    : 'Roboto', sans-serif;
	text-align     : center;
}

#index_about i {
	font-size  : 35px;
	/*TODO: fix icons marigin from top*/
	margin-top : 15px;
}