nav {
	font-size : 18px;
}

header {
}

.wrapper {
	min-height : 100%;
	margin     : 0 auto -45px;
}

.navbar-header {
	background-color : #0093DA !important;
}

.content {
	padding-top : 0;
}

.navbar-default {
	background     : transparent;
	border         : none;
	vertical-align : top;
	margin         : 0;
	height         : auto;
}

.navbar-nav {
	background   : transparent !important;
	border-top   : 0 solid black;
	margin-left  : auto;
	margin-right : auto;
}

.navbar .navbar-collapse {
	text-align : center;
	padding    : 0;
}

.navbar-nav > li {
	margin : 0;
}

.navbar-nav > .active > a {
	background: transparent !important;
}

.navbar-nav > li > a {
	font-family   : "Open Sans", sans-serif;
	padding       : 25px;
	border-bottom : 5px solid #0093DA;
}

.navbar-nav > li > a:hover {
	border-bottom : 5px solid #44C2FF;
}

.navbar-default > .container-fluid {
	padding-left  : 30px;
	padding-right : 30px;
}

.navbar-brand {
	color      : white !important;
	min-width  : 80px;
	min-height : 75px;
	padding    : 0 !important;
	margin     : 0 !important;
	font-size  : 36px !important;
}

.navbar-brand img {
	margin      : auto;
	max-height  : 75px;
	padding-top : 0 !important;
}