{% load bootstrap3 %}
{% load substract %}

	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Последние события</h1>
			</div><!-- col-lg-12 -->
			<div class="col-lg-8">
				<p>Лекции, выступления спикеров, хакатоны...</p>
			</div><!-- col-lg-8-->
			<div class="col-lg-4 goright">
				<p><a href="#"><i class="fa fa-angle-right"></i> Посмотреть
					все записи</a></p>
			</div>
		</div><!-- row -->
		
		<div class="row mt">
		{% if events_list %}
					{% for event in events_list|slice:":3" %}
						<div class='col-lg-4'>
							{% include "blocks/block_event_card.html" %}
						</div>
					{% endfor %}
			{% else %}
				<h3>Нет событий</h3>
			{% endif %}
			
		</div><!-- row -->
	</div><!-- container -->
<!-- 	</div>
</div> -->