{% load thumbnail %}
<article>
	<div class="event-card panel">
		<div class="panel-body">
			<div class="row">
				{% if project.image %}
					<div class="col-md-12 ">
						<img class="img-responsive img-thumbnail"
							 src="{% thumbnail project.image 200x200 crop %}"
							 alt="project-{{project.slug}}-thumbnail"
							 style="display:inline;">
					</div>
				{% endif %}
				<div class="col-md-12">
					<h3 class="col-md-12">
						<a href="{% url 'project' slug=project.slug %}" >
							{{ project.name }}
						</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</article>