<!-- TODO: use feedbacks_list instead of pre-typed text??? -->
<!-- TODO: align heading with other blocks -->
{% block feedback %}
	<div id="lg">
		<div class="container">
			<div class="panel-heading headline-container">
				<h2 class="headline" style="text-align: left">О нас говорят</h2>
			</div>
			<div class="row centered">
				<div class="col-md-3 ">
					<div class="item">
						<div class="testimonials-post">
							<span class="fa fa-quote-left"></span>
							<p>“ At vero eos et accusamus et iusto odio dignissimos ducimus qui molestias excepturi blanditis ”</p>
							<h6>Ramshad Imeri - <em>India,Malappura</em></h6>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item">
						<div class="testimonials-post">
							<span class="fa fa-quote-left"></span>
							<p>“ At vero eos et accusamus et iusto odio dignissimos ducimus qui molestias excepturi blanditis ”</p>
							<h6>Ramshad Imeri - <em>India,Malappura</em></h6>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item">
						<div class="testimonials-post">
							<span class="fa fa-quote-left"></span>
							<p>“ At vero eos et accusamus et iusto odio dignissimos ducimus qui molestias excepturi blanditis ”</p>
							<h6>Ramshad Imeri - <em>India,Malappura</em></h6>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item">
						<div class="testimonials-post">
							<span class="fa fa-quote-left"></span>
							<p>“ At vero eos et accusamus et iusto odio dignissimos ducimus qui molestias excepturi blanditis ”</p>
							<h6>Ramshad Imeri - <em>India,Malappura</em></h6>
						</div>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
{% endblock feedback %}