{% load static %}
{% block styles %}
	<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
{% endblock styles %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
{#			<button type="button" class="navbar-toggle" #}
{#				 data-toggle="collapse" data-target="#navbar-menu">#}
{#				 <span class="sr-only">Toggle navigation</span>#}
{#				 <span class="icon-bar"></span>#}
{#				 <span class="icon-bar"></span>#}
{#				 <span class="icon-bar"></span>#}
{#			</button>#}
			{% include 'blocks/block_brand.html' %}
		</div>

		<div class="pull-right col-xs-8  collapse navbar-collapse" id="navbar-menu">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'events' %}">Новости</a></li>
				<li><a href="https://github.com/lambdafrela">Проекты</a></li>
				<li><a href="{% url 'partners' %}" >Партнеры</a></li>
				<li><a href="{% url 'members' %}" >О нас</a></li>
			</ul>
		</div>
	</div>
</nav>
