{% load bootstrap3 %}
{% load substract %}
<div class="panel page-panel">
	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">Афиша мероприятий</h2>
		</div>
		<div class="page-content">
			{% if events_list %}
					{% for event in events_list|slice:":3" %}
						<div class='col-md-3 centered'>
							{% include "blocks/block_event_card.html" %}
						</div>
					{% endfor %}

					<div class="col-lg-3 centered">
						<p><a href="{% url 'events' %}">
							<h1 style="padding-top: 50px"><i class="fa
							fa-angle-right"></i></h1>
{#							<h2>Еще {{ events_list|length|substract }}</h2>#}
							<h2>Еще</h2>
						</a></p>
					</div>
			{% else %}
				<h3>Нет событий</h3>
			{% endif %}
		</div>
	</div>
</div>