{% load thumbnail %}
{% load bootstrap3 %}
{% load django_markdown %}
<div class="row mt">
    <div class="col-lg-8">
        <h1>Ближайшее событие</h1>
        <hr>
        <h3><b>{{ event.name }}</b></h3>
        <p>{{ event.description|markdown|truncatewords:50 }}</p>
    </div>
    {% if event.image %}
        <div class="col-lg-4">
            <img class="img-responsive img-thumbnail"
                 src="{% thumbnail event.image 250x250 crop %}"
                 alt="event-{{ event.slug }}-thumbnail"
                 style="display:inline;">
        </div>
    {% endif %}
</div>