{% load bootstrap3 %}
<div class="panel page-panel">
	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">Наши проекты</h2>
		</div>
		<div class="page-content">
			{% if projects_list %}
					{% for project in projects_list|slice:":3" %}
						<div class='col-md-3 centered'>
							{% include "blocks/block_project_card.html" %}
						</div>
					{% endfor %}

					<div class="col-lg-3 centered">
						<p><a href="{% url 'projects' %}">
							<h1 style="padding-top: 50px"><i class="fa
							fa-angle-right"></i></h1>
							<h2>Еще {{ projects_list|length }}</h2>
						</a></p>
					</div>
			{% else %}
				<h3>Нет проектов</h3>
			{% endif %}
		</div>
	</div>
</div>