{% load bootstrap3 %}
<div class="container">
    <div class="row mt">
        <div class='col-md-12'>
            <article>
                <div class="event-card panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 text-content">
                                <h2>Открыта запись в Лямбда!</h2>
                                <p>
                                    Есть идеи для крутых проектов? Хочешь набраться <b>опыта работы</b> в команде?
                                    Посетить <b>митапы</b>, конференции? Встретиться с сотрудниками <b>крупных
                                    IT-компаний</b>? А может, прокачать свой программерский скилл и съездить на <b>хакатон</b>?
                                    Заполни анкету по ссылке ниже, получи приглашение в <a
                                        href="https://lambdafrela.slack.com">рабочий чат</a> и следи за обновлениями,
                                    скоро будет <b>жарко!</b>
                                    Присоединяйся к самому веселому клубу трудоголиков!
                                <div class="spacer"></div>
                                <a href="https://goo.gl/forms/tpNZIe0IjJgxmjvi1">
                                    <button type="button" class="btn btn-blue">
                                        Заполнить анкету!
                                    </button>
                                </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>