<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Lambda Frela">
	<meta name="google-site-verification" content="4AZb6jlj8t5T9KEI_xbLagKs2u5Mn-e2zYApbIF80oM" />
	<meta name="google-site-verification" content="5WnQ9GIOqH8BNSuGakX2f_NezimW2aDVYPhBjt5tnnw" />
	<meta name="yandex-verification" content="076513fc021b1710" />
<!-- Google Analytics counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90312837-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41495989 = new Ya.Metrika({
                    id:41495989,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41495989" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <script src="https://use.fontawesome.com/1fd7c5df6b.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?133"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 105873414, {});
    </script>

    {% load static %}
    {% load bootstrap3 %}
    {% load django_markdown %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <!-- Custom styles for this template -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock styles %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!--[endif]-->


</head>

<body>

{% block header %}
{% endblock header %}


{% block event_near %}
{% endblock event_near %}

{% block content %}
{% endblock content %}

{% include 'blocks/block_footer.html' %}

{#<script>#}
{#    new AnimOnScroll(document.getElementById('grid'), {#}
{#        minDuration: 0.4,#}
{#        maxDuration: 0.7,#}
{#        viewportFactor: 0.2#}
{#    });#}
{#</script>#}
</body>

</html>
