<div id="services">
	<div class="container">
		<div class="row mt">

			<div class="col-lg-1 centered">
				<i class="fa fa-question-circle"></i>
			</div>
			<div class="col-lg-3">
				<h3>Что мы делаем?</h3>
				<li>Читаем лекции</li>
				<li>Работаем над проектами</li>
				<li>Приглашаем специалистов из ведущих IT компаний</li>
				<li>Вместе ходим на конференции и митапы</li>
			</div>

			<div class="col-lg-1 centered">
				<i class="fa fa-ticket"></i>
			</div>
			<div class="col-lg-3">
				<h3>Кто может прийти?</h3>
				<p>Кто угодно. Начинающие свой путь в IT найдут у нас возможность быстро учиться, а опытные разработчики - единомышленников и проекты.</p>
			</div>

			<div class="col-lg-1 centered">
				<i class="fa fa-globe"></i>
			</div>
			<div class="col-lg-3">
				<h3>Как нас найти?</h3>
				<p>Место встреч уточняется.
					До тех пор по всем вопросам обращайтесь на почту: <a href="mailto:lambdafrela@yahoo.com" style="color: white"><b>lambdafrela@yahoo.com</b></a></p>
			</div>

		</div><!-- row -->
	</div><!-- container -->
</div><!-- services section -->