{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
	Лямбда: афиша
{% endblock %}
{% block description %}
	Афиша Лямбда МАИ, {% if events_list %}ближайшее событие:
	{{ events_list.0.date }} {%endif%}
{% endblock %}

<!-- MAIN IMAGE SECTION -->
{% block header %}
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				{% include 'blocks/block_navbar.html' %}
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Афиша мероприятий</h2>
{#					<div class="spacer"></div>#}
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock header %}


{% block content %}
	<div class="panel page-panel">
		<div class="panel-body">
			<div class="page-content">
				{% if events_list %}
					<div>
						{% include "events_list.html" %}
					</div>
				{% else %}
					<h3>Нет событий</h3>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}