{% extends 'base.html'%}
{% load bootstrap3 %}
{% block title %}
	Lambda
{% endblock title %}

<!-- TODO: move all `style` tags to main.css -->
<!-- TODO: remove odd sections -->

<!-- MAIN IMAGE SECTION -->
{% block header %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>LAMBDA</h1>
			<div class="spacer"></div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-xs-6 col-sm-4"></div>
		<div class="col-xs-6 col-sm-4"></div>
		<div class="clearfix visible-xs-block"></div>
		<div class="col-xs-6 col-sm-4">
			<p>
				<b	style="font-size: 24px">Кто
					мы?</b>	<br>
				Мы образовательный проект Lambda при
				ФРЭЛА МАИ,
				реализующий практикум программистов и бесплатные курсы
				для студентов.
			</p>
		</div>
	</div>
{% endblock header %}

{% block event_near %}
	{% include 'blocks/block_event_near.html' %}
{% endblock event_near %}

{% block content %}

	<!-- NEAREST EVENT SECTION -->




	<!-- ABOUT SECTION -->
	{% include 'blocks/block_about.html' %}

	<!-- BLOG POSTS -->
	{% include 'blocks/block_events.html' %}

	<!-- PROJECTS SECTION -->
	{% include 'blocks/block_projects.html' %}


	<!-- CLIENTS LOGOS -->
	{% block feedback %}
		{% include 'blocks/block_feedback.html' %}
	{% endblock feedback %}





	<!-- SOCIAL FOOTER --->
		<section id="contact"></section>
		<div id="sf">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 dg">
						<h4 class="ml">VK</h4>
						<p class="centered">
							<a href="https://vk.com/lambdafrela"><i class="fa fa-vk"></i></a></p>
						<p class="ml">> Follow Us</p>
					</div>
					<div class="col-lg-4 lg">
						<h4 class="ml">GITHUB</h4>
						<p class="centered"><a href="https://github.com/lambdafrela"><i class="fa fa-github"></i></a></p>
						<p class="ml">> Fork Us</p>
					</div>
					<div class="col-lg-4 dg">
						<h4 class="ml">SLACK</h4>
						<p class="centered"><a href="https://goo.gl/qHQ2vf"><i class="fa fa-slack"></i></a></p>
						<p class="ml">> Chat To Us</p>
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- Social Footer -->






{% endblock content %}