/* TODO: different header backgrounds on different pages */
body {
	background-color           : #F2F2F2;
	font-family                : "Open Sans", sans-serif;
	font-weight                : 300;
	font-size                  : 16px;
	color                      : #555;
	-webkit-font-smoothing     : antialiased;
	-webkit-overflow-scrolling : touch;
}

h1 {
	font-family : "Muller Medium", sans-serif;
	font-weight : 500;
	color       : #333;
}

h2, h3, h4, h5, h6 {
	font-family : "Open Sans", sans-serif;
	font-weight : 500;
	color       : #333;
}

p {
	line-height   : 28px;
	margin-bottom : 25px;
	font-size     : 18px;
}

.centered {
	text-align : center;
	font-size  : 20px;
}

.goright {
	text-align : right;
}

.mt {
	padding-top : 25px;
}

a {
	color              : #0093DA;
	word-wrap          : break-word;
	-webkit-transition : color .1s ease-in, background .1s ease-in;
	-moz-transition    : color .1s ease-in, background .1s ease-in;
	-ms-transition     : color .1s ease-in, background .1s ease-in;
	-o-transition      : color .1s ease-in, background .1s ease-in;
	transition         : color .1s ease-in, background .1s ease-in;
}

a:hover, a:focus {
	color           : #7B7B7B;
	text-decoration : none;
	outline         : 0;
}

a:before, a:after {
	-webkit-transition : color .1s ease-in, background .1s ease-in;
	-moz-transition    : color .1s ease-in, background .1s ease-in;
	-ms-transition     : color .1s ease-in, background .1s ease-in;
	-o-transition      : color .1s ease-in, background .1s ease-in;
	transition         : color .1s ease-in, background .1s ease-in;
}

hr {
	display    : block;
	height     : 1px;
	border     : 0;
	border-top : 1px solid #CCC;
	margin     : 1em 0;
	padding    : 0;
}

.btn {
	border-radius : 0;
}

.btn-blue {
	color            : #FFF;
	background-color : #0093DA;
	border-color     : #0093DA;
	font-weight      : 300;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
	color            : #FFF;
	background-color : #0093DA;
	border-color     : #0093DA;
	font-weight      : 300;
}

.tm {
	font-size   : 14px;
	line-height : 20px;
}

.body-push {
	overflow-x : hidden;
	position   : relative;
	left       : 0;
}

.body-push-toright {
	left : 200px;
}

.body-push-toleft {
	left : -200px;
}

#services {
	background     : #0093DA;
	margin-top     : 25px;
	padding-top    : 35px;
	padding-bottom : 35px;
}

#services h3 {
	color : #FFF;
}

#services p {
	color : #FFF;
}

#services i {
	color      : #FFF;
	font-size  : 35px;
	margin-top : 22px;
}
#sf {
	display : block;
	width   : 100%
}

#sf .container {
	width : 100%
}

#sf .col-lg-4 {
	margin  : 0;
	padding : 15px;
}

#sf .lg {
	background-color : #0093DA;
}

#sf .dg {
	background-color : #0093DA;
}

#sf h4 {
	color : #FFF;
}

#sf p {
	color : #FFF;
}

#sf .ml {
	margin-left : 30px;
}

#sf i {
	font-size     : 70px;
	color         : #FFF;
	text-align    : center;
	margin-top    : 50px;
	margin-bottom : 50px;
}
.col-xs-6.col-sm-4 {
	color       : white;
	font-size   : 16px;
	text-align  : left;
	font-family : "Open Sans Semibold", sans-serif;
}

li {
	color       : white;
	font-size   : 18px;
	font-family : "Open Sans", sans-serif;
}

.testimonials {
	background : #1F1F1F;
}

.testimonials-post {
	text-align : center;
	background : #FFFFFF;
	padding    : 25px;
}

.testimonials-post span {
	font-size : 18px;
	color     : #757575;
}

.testimonials-post p {
	padding-top : 15px;
	font-size   : 14px;
	font-style  : italic;
}

.testimonials-post h6 {
	padding-top : 15px;
	font-size   : 15px;
}

.testimonials-post h6 em {
	font-style : normal;
	font-size  : 12px;
	color      : #757575;
}

.add-cal {
	font-size   : 14px;
	font-style  : italic;
	font-weight : 200;
}