/* TODO: different header backgrounds on different pages */
body {
	background-color: #f2f2f2;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
h1 {
	font-family: "Muller Medium", sans-serif ;
	font-weight: 500;
	color: #333;
}
h2, h3, h4, h5, h6{
	font-family: "Open Sans", sans-serif ;
	font-weight: 500;
	color: #333;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 18px;
}
.centered {
	text-align: center;
	font-size: 20px;
}
.goright {
	text-align: right;
}
.mt {
	padding-top: 25px;
}
a {
	color: #0093DA;
	word-wrap: break-word;
	-webkit-transition: color .1s ease-in, background .1s ease-in;
	-moz-transition: color .1s ease-in, background .1s ease-in;
	-ms-transition: color .1s ease-in, background .1s ease-in;
	-o-transition: color .1s ease-in, background .1s ease-in;
	transition: color .1s ease-in, background .1s ease-in;
}
a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color .1s ease-in, background .1s ease-in;
	-moz-transition: color .1s ease-in, background .1s ease-in;
	-ms-transition: color .1s ease-in, background .1s ease-in;
	-o-transition: color .1s ease-in, background .1s ease-in;
	transition: color .1s ease-in, background .1s ease-in;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.btn {
	border-radius: 0;
}
.btn-blue {
	color: #fff;
	background-color: #0093DA;
	border-color: #0093DA;
	font-weight: 300;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
	color: #fff;
	background-color: #0093DA;
	border-color: #0093DA;
	font-weight: 300;
}
.tm {
	font-size: 14px;
	line-height: 20px;
}

.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.body-push-toright {
	left: 200px;
}
.body-push-toleft {
	left: -200px;
}

#indexwrap {
	background: url(../img/header-bg1.jpg) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align: center;
	min-height: 750px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#indexwrap h1 {
	margin-top: 250px;
	color: #fff;
	font-size: 110px;
	font-weight: 500;
	letter-spacing: 4px;
}
#indexwrap h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}
#indexwrap i {
	font-size: 35px;
	color: #fff;
}
#indexwrap .spacer {
	margin-top: 120px;
}
#mapwrap {
	margin: 0;
	padding: 0;
}
#serviceswrap {
	background: url(../img/services-bg.jpg) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align: center;
	min-height: 300px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#serviceswrap h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 80px;
}
#aboutwrap {
	background: url(../img/header-bg1.jpg) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align: center;
	min-height: 750px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#aboutwrap h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 150px;
}
#portwrap {
	background: url(../img/header-bg1.jpg) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align: center;
	min-height: 750px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#portwrap h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 150px;
}
#sp {
	background: #2f2f2f;
	padding-top: 35px;
	padding-bottom: 35px;
}
#sp h2 {
	color: #fff;
}
#sp-standout {
	background: url(../img/header-bg1.jpg) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align: center;
	min-height: 750px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#portfolio {
	width: 100%
}
#services {
	background: #0093DA;
	margin-top: 25px;
	padding-top: 35px;
	padding-bottom: 35px;
}
#services h3 {
	color: #fff;
}
#services p {
	color: #fff;
}
#services i {
	color: #fff;
	font-size: 35px;
	margin-top: 22px;
}
#lg {
	background: #ebebeb;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
#lg .desc {
	text-align: left;
}
#call {
	background: #2f2f2f;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}
#call h3 {
	color: #fff;
}
#call p {
	color: #fff;
}
#sf {
	display: block;
	width: 100%}
#sf .container {
	width: 100%}
#sf .col-lg-4 {
	margin: 0;
	padding: 15px;
}
#sf .lg {
	background-color: #0093DA;
}
#sf .dg {
	background-color: #0093DA;
}
#sf h4 {
	color: #fff;
}
#sf p {
	color: #fff;
}
#sf .ml {
	margin-left: 30px;
}
#sf i {
	font-size: 70px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#cf {
	background: #2f2f2f;
}
#cf h4 {
	color: #fff;
	margin-left: 15px;
	margin-top: 15px;
}
#cf p {
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	margin-left: 15px;
}
#cf .container {
	width: 100%
}
#cf .col-lg-8 {
	margin: 0;
	padding: 0;
}
.process {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}
.process li {
	display: block;
	float: left;
	padding: 1px;
	width: 100%;
	opacity: 0;
}
.process li.shown, .no-js .process li, .no-cssanimations .process li {
	opacity: 1;
}
.process li a, .process li img {
	outline: 0;
	border: 0;
	display: block;
	max-width: 100%
}
.process.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp .65s ease forwards;
	-moz-animation: moveUp .65s ease forwards;
	animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}
@-moz-keyframes moveUp {
	to {
		-moz-transform: translateY(0);
		opacity: 1;
	}
}
@keyframes moveUp {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
#chartwrap {
	width: 100%
}
#chartwrap .container {
	margin-left: 0;
	padding-left: 0;
}
#chartwrap h1, #chartwrap p {
	margin-left: 10px;
}
.cardinfo {
	background: #fff;
	padding: 15px;
	margin: 2px;
	text-align: left;
}
.cardinfo i {
	font-size: 18px;
	padding-right: 20px;
}
.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}
.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
	opacity: 1;
}
.grid li a, .grid li img {
	outline: 0;
	border: 0;
	display: block;
	max-width: 100%
}
.grid img {
	opacity: .7;
}
.grid img:hover {
	opacity: 1;
}
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp .65s ease forwards;
	-moz-animation: moveUp .65s ease forwards;
	animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}
@-moz-keyframes moveUp {
	to {
		-moz-transform: translateY(0);
		opacity: 1;
	}
}
@keyframes moveUp {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
nav {
	font-size: 18px;
}
header {}
.wrapper {
	min-height: 100%;
	height: auto !important;
	/* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -45px;
	/* the bottom margin is the negative value of the footer's height */
}
.navbar-header {
	background-color: #0093DA!important;
}
.content {
	padding-top: 0;
}
.navbar-default {
	background: transparent;
	border: none;
	vertical-align: top;
	margin: 0;
	height: auto;
}
.navbar-nav {
	background: transparent!important;
	border-top: 0 solid black;
	margin-left: auto;
	margin-right: auto;
}
.navbar .navbar-collapse {
	text-align: center;
	padding: 0;
}
.navbar-nav> li {
	margin: 0;
}
.navbar-nav> li> a {
	font-family: "Open Sans", sans-serif;
	padding: 25px;
	border-bottom: 4px solid #0093DA;
}
.navbar-nav> li> a:hover {
	border-bottom: 4px solid #44C2FF;
}
.navbar-default> .container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-brand {
	color: white!important;
	min-width: 80px;
	min-height: 75px;
	padding: 0!important;
	margin: 0!important;
	font-size: 36px!important;
}
.navbar-brand img {
	margin: auto;
	max-height: 75px;
	padding-top: 0!important;
}
.col-xs-6.col-sm-4 {
	color: white;
	font-size: 16px;
	text-align: left;
	font-family: "Open Sans Semibold", sans-serif;
}
li {
	color: white;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
}
.testimonials {
	background:#1f1f1f;
}
.testimonials-post {
	text-align: center;
	background: #ffffff;
	padding: 25px;
}
.testimonials-post span {
	font-size: 18px;
	color: #757575;
}
.testimonials-post p {
	padding-top: 15px;
	font-size: 14px;
	font-style: italic;
}
.testimonials-post h6 {
	padding-top: 15px;
	font-size: 15px;
}
.testimonials-post h6 em {
	font-style: normal;
	font-size: 12px;
	color: #757575;
}

.add-cal {
	font-size: 14px;
	font-style: italic;
	font-weight: 200;
}