#serviceswrap {
	background              : url(../img/services-bg.png) no-repeat center top;
	/*margin-top: -10px;*/
	/*padding-top: 20px;*/
	text-align              : center;
	min-height              : 300px;
	width                   : 100%;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}

#serviceswrap .panel {
	display   : -webkit-box;
	display   : -moz-box;
	display   : -ms-flexbox;
	display   : -moz-flex;
	display   : -webkit-flex;
	display   : flex;
	flex-wrap : wrap;
}

/*#serviceswrap .col-md-3 {*/
/*padding-bottom: 20px;*/
/*}*/
#serviceswrap .navbar-nav > li > a {
	color : white;
}

#serviceswrap h2 {
	color          : #FFF;
	font-size      : 50px;
	font-weight    : 400;
	letter-spacing : 2px;
	margin-top     : 80px;
}