{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
Лямбда событие {{event.name}}
{% endblock %}

{% block description %}
{{event.title}} {{event.description}}
{% endblock %}

<!-- MAIN IMAGE SECTION -->
{% block header %}
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				{% include 'blocks/block_navbar.html' %}
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Афиша мероприятий</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock header %}

<!-- CONTENT SECTION -->
{% block content %}
<div class="panel page-panel">
	<div class="panel-body">
		<div class="col-md-12 page-content">
			<div class="panel event-card">
				<div class="panel-heading">
					<div class=" panel-title">
						<div class="row text-left">
							<h1 class="col-md-12">{{ event.name }}</h1>
							<h4 class="col-md-12">
								<!--TODO: `add to calendar` url should work with google calendar -->
								<i class="fa fa-clock-o"></i> {{ event.date }}  <a class="add-cal">Добавить в календарь</a><br>
								<i class="fa fa-map-marker"> </i> {{ event.address }} <br>
								<i class="fa fa-user"></i> {{ event.speaker }}
							</h4>
						</div>
					</div>
				</div>

				<!-- DESCRIPTION SECTION -->
				<div class="panel-body">
					<div class="row">
						{% if event.avatar %}
							<div class="col-md-4 col-xs-12 pull-left">
								<img class="img-responsive img-thumbnail"
									 src="{{ event.avatar.url }}"
									 alt="event-{{event.slug}}-image"
									 style="display:inline;
									 max-height: 600px;
									 max-width: 300px">
							</div>
						{% endif %}
						<div class="col-md-6 col-xs-12 text-content">
							<p>
								{{event.description|linebreaks}}
								<i class="fa fa-globe" aria-hidden="true"></i>
								Сайт: <a href="{{event.url}}">{{event.url}}</a>
								<!-- TODO: add `future` field to Event. states: 0 or 1 -->
								<!-- TODO: if `future` is 1 then add button "Register", which redirects to VK -->
							</p>
						</div>
					</div>

				<!-- GALLERY SECTION -->
				<!-- TODO: make /media/ files be placed automaticly by-category -->
				<!-- TODO: find out how to make "gallery" in html+css+js -->
				<!-- TODO: find out how to attach many photos to Event correctly -->



				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}