{% extends "base.html" %}
{% load bootstrap3 %}
{% load thumbnail %}

{% block title %}
Лямбда событие {{project.name}}
{% endblock %}

{% block description %}
{{project.title}} {{project.description}}
{% endblock %}

<!-- MAIN IMAGE SECTION -->
{% block header %}
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				{% include 'blocks/block_navbar.html' %}
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>{{ project.name }}</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock header %}

{% block content %}
<div class="panel page-panel">
	<div class="panel-body">
		<div class="col-md-12 page-content">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 col-xs-12 text-content">
						<p>
							{{project.description|linebreaks}}
							{% if project.github %}
								<i class="fa fa-github" aria-hidden="true"></i> Страница проекта на Github: <a href="{{ project.github }}">{{ project.github }}</a>
							{% endif %}
							<br>
							{% if project.url %}
								<i class="fa fa-globe" aria-hidden="true"></i> Сайт: <a href="{{project.url}}">{{project.url}}</a>
							{% endif %}
						</p>
					</div>
					{% if project.image %}
						<div class="col-md-4 col-xs-12 pull-right">
							<img class="img-responsive img-thumbnail"
								 src="{% thumbnail project.image 200x200 crop %}"
								 alt="project-{{project.slug}}-image"
								 style="display:inline;">
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}