{% load thumbnail %}
{% load django_markdown %}
<div class="panel member-card">
	<div class="panel-body">
			<div class="text-center">
				<img class="img-responsive img-thumbnail" src="{% thumbnail member.image 200x200 crop %}" alt="member-name-image" style="display:inline;">
			</div>

		<div class="text-content">
			<h3><a href="{% url 'member' slug=member.slug %}" >{{ member.name }}</a></h3>
			{% if member.description %}
				<div>
					<p>{{member.description|markdown|truncatewords:1}}</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>