{#<footer>#}
{#        <div class="container">#}
{#            {% page_menu "pages/menus/footer.html" %}#}
{##}
{#            <div class="row">#}
{#                <p class="site-info text-center">#}
{#                    {% trans "Powered by" %}#}
{#                    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},#}
{#                    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}#}
{#                    {% trans "and" %}#}
{#                    <a href="http://www.djangoproject.com">Django</a>#}
{#                    <span class="separator">|</span>#}
{#                    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>#}
{#                    {% ifinstalled mezzanine.mobile %}#}
{#                        <span class="separator">|</span>#}
{#                        <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>#}
{#                    {% endifinstalled %}#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
{##}

<!-- SOCIAL FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 dg">
                <h4 class="ml">VK</h4>
                <p class="centered">
                    <a href="https://vk.com/lambdafrela"><i class="fa fa-vk"></i></a></p>
                <p class="ml">> Follow Us</p>
            </div>
            <div class="col-lg-4 lg">
                <h4 class="ml">GITHUB</h4>
                <p class="centered"><a href="https://github.com/lambdafrela"><i class="fa fa-github"></i></a></p>
                <p class="ml">> Fork Us</p>
            </div>
            <div class="col-lg-4 dg">
                <h4 class="ml">SLACK</h4>
                <p class="centered"><a href="https://goo.gl/qHQ2vf"><i class="fa fa-slack"></i></a></p>
                <p class="ml">> Chat With Us</p>
            </div>
        </div>
    </div>
</div>

{% block footer_js %}
    {% include "includes/footer_scripts.html" %}
{% endblock footer_js %}
<!-- CONTACT FOOTER -->
{#	<div id="cf">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-lg-8">#}
{#		        	<div id="mapwrap">#}
{#						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.980588614794!2d37.49686361573025!3d55.81093738056895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54837dc21e865%3A0x47049bf0a967fbda!2z0JTQmtC40KIg0JzQkNCY!5e0!3m2!1sen!2sru!4v1481646733124" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#					</div>	#}
{#				</div>#}
{#				<div class="col-lg-4">#}
{#					<h4>Как нас найти?</h4>#}
{#					<br>#}
{#					<p>#}
{#						Понедельник/среда<br/>#}
{#						17:00 - 20:00#}
{#					</p>#}
{#					<p>#}
{#						ДКиТ МАИ, 208<br/>#}
{#						Москва, Россия.#}
{#					</p>#}
{#					<p>#}
{#						P: +55 4839-4390<br/>#}
{#						E: <a href="mailto:lambdafrela@yahoo.com">lambdafrela@yahoo.com</a>#}
{#					</p>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
