{% load static %}
{% load pages_tags mezzanine_tags i18n staticfiles static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extra_styles %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block navbar_title %}
                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>
                {% endif %}
            {% endblock %}
        </div>
        <div class="navbar-collapse collapse">
            {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
            {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock %}
        </div>
    </div>
</div>