<div id="index_about">
        <div class="container">
            <div class="row mt">

                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-question-circle"></i>

                    <h3>Что мы делаем?</h3>
                    <li>Читаем лекции</li>
                    <li>Работаем над проектами</li>
                    <li>Приглашаем специалистов из ведущих IT компаний</li>
                    <li>Вместе ходим на конференции и митапы</li>
                </div>

                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-ticket"></i>
                    <h3>Кто может прийти?</h3>
                    <p>Кто угодно. Начинающие свой путь в IT найдут у нас возможность быстро учиться, а опытные
                        разработчики
                        - единомышленников и проекты.</p>
                </div>

                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-globe"></i>
                    <h3>Как нас найти?</h3>
                    <p>ДК МАИ ауд.208</br>
                        понедельник/среда 17:00</a>
                    </p>
                </div>

            </div>
        </div>
    </div>